<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<!-- head部分 -->
<div th:replace="common/head :: #header"></div>

<body>

<!-- 导航栏 -->
<div th:replace="common/navigation :: #nav"></div>

<div>
    <label>Uid</label>
    <input type="text" id="uid" placeholder="用户Uid" required/><br/>
    <label>From</label>
    <input type="text" id="start" placeholder="起始时间" required/><br/>
    <label>To</label>
    <input type="text" id="end" placeholder="截至时间" required/><br/>
    <button id="btn_search" class="btn-primary">Search</button>
</div>
<div>
    <table id="tb_rcloglist" class="table">
    </table>
</div>

<!-- 全局js -->
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/bootstrap-table/1.11.0/dist/bootstrap-table.js"></script>
<!--自定义js -->
<script src="/static/js/log.js"></script>
</body>
</html>