<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<!-- 导航栏 -->
<nav id="nav" class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">风控平台</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <span class="glyphicon glyphicon-user" style="font-size: 15px" id="userName"
                              th:text="${userName}"/></span>
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a id="logout" href="/api/user/logout">
                                <i class="fa fa-sign-out pull-right"></i>退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>